@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Regular"), url("./fonts/TTLakes/TTLakes-Regular.ttf");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Medium"), url("./fonts/TTLakes/TTLakes-Medium.ttf");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'TTLakes';
    src: local("TTLakes-Bold"), url("./fonts/TTLakes/TTLakes-Bold.ttf");
    font-weight: 700;
    font-style: normal;
}

*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: 'TTLakes';
    background-color: #F8F8F8;
}

.header-brands{
    display: flex;
    height: 56px;
    align-items: center;
    margin-bottom: 24px;
    border-top: 1px solid #D9FFF5;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.header-brands > p {
    margin-left: 32px;
    font-size: 16px;
    background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
}

.brands {
    display: flex;
}

.brands-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-left: 32px;
}

@media (min-width: 320px) and (max-width: 768px) {

    .header-brands {
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
    }
    p {
        background: linear-gradient(270deg, #F8F8F8 0%, #FFFFFF 98.61%);
        /*transform: matrix(-1, 0, 0, 1, 0, 0);*/
    }

    .brands {
        display: flex;
        flex-direction: column;
        height: 154px;
        justify-content: space-between;
        background-color: #F8F8F8;
    }

    .swiper-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        max-height: 72px;
        width: 120%;
    }

    .swiper-slide {
        height: 72px; !important;
        width: 240px; !important;
    }

    .brands-container__item:last-child {
    }

    .swiper-pagination {
        align-content: stretch;
        background-color: #F8F8F8;
        margin: auto;
        position: static !important;
    }

    .swiper-pagination-bullet{
        background-color: #DDDDDD !important;
        width: 12px !important;
        height: 12px !important;
        margin-right: 12px !important;
        margin-left: 0px !important;
    }

    .swiper-pagination-bullet:last-child {
        margin-right: 0px !important;
    }

    .swiper-pagination-bullet-active {
        background-color: #B5B6BC !important;
    }

    .brands__hiding-button,
    .brands__hiding-button-view,
    .brands__hiding-button-hide,
    .hiding-button__svg  {
        display: block;
        visibility: hidden;
    }

    .hidden-elem{
        display: flex;
    }
}

.brands-container__item {
    display: flex;
    max-width: 240px;
    min-height: 92px;
    align-items: center;
    border: solid 1px #EAEAEA;
    border-radius: 6px;
    justify-content: space-between;
    background-color: #ffffff;
    margin: 0 32px 16px 0;
}

@media (min-width: 321px) and (max-width: 1119px) {
    .brands-container {
        margin-left: 24px;
    }
    .brands-container__item {
        max-width: 224px;
        margin-right: 24px;
    }
}

@media (min-width: 768px) {
    .swiper-pagination {
        display: none;
    }
}



.brands-container__item > svg {
    margin-right: 16px;
}
.brands-container__item > img {
    margin-left: 16px;
}

img, .brand > svg {
    background-color: white;
}

.brands-container__item img {
    max-width: 60%;
    max-height: 60%;
    height: auto;
}

.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
@media (min-width: 769px) {
    .hidden-elem {
        display: none;
    }
}

.brands__hiding-button {
    display: flex;
    align-items: center;
    margin-left: 63px;
    border: none;
    cursor: pointer;
    font-weight: 500;
}

.brands__hiding-button-hide {
    display: none;
}



